

<div class="row"></div>
<div class="col-md-6">
  <%= image_tag "Tracteur.jpg", class: "img-responsive" %>

</div>

<div class="col-md-6">
<h3><%= @toy.name %></h3>
<p><%= @toy.description %></p>
<p><%= @toy.category %></p>
<p><%= @toy.condition %></p>
<p class="text-center"><strong><%= @toy.price/100 %>€</strong></p>

</div>
</div>



<%= link_to 'Edit', edit_toy_path(@toy) %> |
<%= link_to 'Back', toys_path %>
